html {
  height: 100%;
  width: 100%;
  margin: 0;

}

body {
  margin: 0;
}

#hero {
  height: 100vh;

  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;

}

#hero button {
  padding: 30px;
  border: 2px solid lime;
  border-radius: 8px;
  background-color: #baffa5;
  transition: background-color .15s ease;
  cursor: pointer;
}

#catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}

.catalog-item {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 8px;
  margin: 10px;
}

.catalog-item button {
  cursor: pointer;
}